.vgaVis {
  display: flex;
  flex: 1 1 100%;
  position: relative; }

.vgaVis__view {
  z-index: 0;
  flex: 1 1 100%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .vgaVis__view .vega-bindings {
    display: none !important; }

.vgaVis__controls {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.5;
  display: flex; }
  .vgaVis__controls:not(:empty) {
    padding: 8px 0; }
  .vgaVis__controls.vgaVis__controls--column {
    flex-direction: column; }
  .vgaVis__controls.vgaVis__controls--row {
    flex-direction: row; }
    .vgaVis__controls.vgaVis__controls--row > .vega-bind {
      flex-grow: 1; }
  .vgaVis__controls > .vega-bind .vega-bind-name {
    display: inline-block;
    width: 104px; }
  .vgaVis__controls > .vega-bind input[type="range"] {
    width: 120px;
    display: inline-block;
    vertical-align: middle; }
  .vgaVis__controls > .vega-bind label {
    margin: 0 0 0 8px; }
  .vgaVis__controls > .vega-bind select {
    max-width: 160px; }
  .vgaVis__controls > .vega-bind .vega-bind-radio label {
    margin: 0 8px 0 4px; }

.vgaVis__messages {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  opacity: 0.8;
  z-index: 1;
  list-style: none; }

.vgaVis__message {
  margin: 8px; }
  .vgaVis__message .vgaVis__messageCode {
    white-space: pre-wrap;
    padding: 8px; }

.vgaVis__message--warn .vgaVis__messageCode {
  background-color: #fcf3e7;
  color: #a15b0a; }

.vgaVis__message--err .vgaVis__messageCode {
  background-color: #f6e6e6;
  color: #A30000; }

.vgaVis__tooltip h2 {
  margin-bottom: 8px; }

.vgaVis__tooltip td {
  max-width: 100%;
  /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  /* 2 */
  padding-top: 4px;
  padding-bottom: 4px; }

.vgaVis__tooltip td.key {
  color: #999;
  max-width: 160px;
  text-align: right;
  padding-right: 4px; }

.vgaVis__tooltip td.value {
  max-width: 240px;
  text-align: left; }

.visEditor--vega .visEditorSidebar__config {
  padding: 0;
  overflow: inherit; }

.visEditor--vega .visEditorSidebar__config,
.visEditor--vega .visEditorSidebar__options {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; }
  .visEditor--vega .visEditorSidebar__config > *,
  .visEditor--vega .visEditorSidebar__options > * {
    flex-shrink: 0; }
  .visEditor--vega .visEditorSidebar__config > *,
  .visEditor--vega .visEditorSidebar__options > * {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column; }
    .visEditor--vega .visEditorSidebar__config > * > *,
    .visEditor--vega .visEditorSidebar__options > * > * {
      flex-shrink: 0; }

@media only screen and (max-width: 574px) {
  .visEditor--vega .visEditor__collapsibleSidebar {
    flex-grow: 1; } }

@media only screen and (min-width: 575px) and (max-width: 767px) {
  .visEditor--vega .visEditor__collapsibleSidebar {
    flex-grow: 1; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .visEditor--vega .visEditor__collapsibleSidebar {
    flex-grow: 1; } }

.vgaEditor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  position: relative; }
  .vgaEditor > * {
    flex-shrink: 0; }
  @media only screen and (max-width: 574px) {
    .vgaEditor {
      min-height: 240px; } }
  @media only screen and (min-width: 575px) and (max-width: 767px) {
    .vgaEditor {
      min-height: 240px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .vgaEditor {
      min-height: 240px; } }

.vgaEditor__aceEditor {
  flex: 1 1 auto; }

.vgaEditor__aceEditorActions {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 16px;
  line-height: 1; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl92ZWdhX3Zpcy5zY3NzIiwiLi4vLi4vLi4vLi4vbm9kZV9tb2R1bGVzL0BlbGFzdGljL2V1aS9zcmMvZ2xvYmFsX3N0eWxpbmcvdmFyaWFibGVzL190eXBvZ3JhcGh5LnNjc3MiLCIuLi8uLi8uLi8uLi9ub2RlX21vZHVsZXMvQGVsYXN0aWMvZXVpL3NyYy90aGVtZXMvazYvazZfZ2xvYmFscy5zY3NzIiwiLi4vLi4vLi4vLi4vbm9kZV9tb2R1bGVzL0BlbGFzdGljL2V1aS9zcmMvZ2xvYmFsX3N0eWxpbmcvbWl4aW5zL190eXBvZ3JhcGh5LnNjc3MiLCIuLi8uLi8uLi8uLi9ub2RlX21vZHVsZXMvQGVsYXN0aWMvZXVpL3NyYy9nbG9iYWxfc3R5bGluZy92YXJpYWJsZXMvX3NpemUuc2NzcyIsIi4uLy4uLy4uLy4uL25vZGVfbW9kdWxlcy9AZWxhc3RpYy9ldWkvc3JjL2dsb2JhbF9zdHlsaW5nL2Z1bmN0aW9ucy9fY29sb3JzLnNjc3MiLCIuLi8uLi8uLi8uLi9ub2RlX21vZHVsZXMvQGVsYXN0aWMvZXVpL3NyYy9nbG9iYWxfc3R5bGluZy92YXJpYWJsZXMvX2NvbG9ycy5zY3NzIiwiX3ZlZ2FfZWRpdG9yLnNjc3MiLCIuLi8uLi8uLi91aS9wdWJsaWMvc3R5bGVzL19taXhpbnMuc2NzcyIsIi4uLy4uLy4uLy4uL25vZGVfbW9kdWxlcy9AZWxhc3RpYy9ldWkvc3JjL2dsb2JhbF9zdHlsaW5nL21peGlucy9fcmVzcG9uc2l2ZS5zY3NzIiwiLi4vLi4vLi4vLi4vbm9kZV9tb2R1bGVzL0BlbGFzdGljL2V1aS9zcmMvZ2xvYmFsX3N0eWxpbmcvdmFyaWFibGVzL196X2luZGV4LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxjQUFhO0VBQ2IsZUFBYztFQUNkLG1CQUFrQixFQUVuQjs7QUFFRDtFQUNFLFdBQVU7RUFDVixlQUFjO0VBRWQsZUFBYztFQUNkLGdCQUFlO0VBQ2YsaUJBQWdCO0VBQ2hCLFlBQVc7RUFDWCxhQUFZO0VBQ1osaUJBQWdCLEVBTWpCO0VBZkQ7SUFhSSx5QkFBd0IsRUFDekI7O0FBR0g7RUNWRSxnQkNOc0Q7RURPdEQsZ0JBUHFDO0VFaURyQyxpQkZYcUI7RURwQnJCLGNBQWEsRUEwQ2Q7RUE1Q0Q7SUFLSSxlQUFvQixFQUNyQjtFQU5IO0lBU0ksdUJBQXNCLEVBQ3ZCO0VBVkg7SUFhSSxvQkFBbUIsRUFLcEI7SUFsQkg7TUFnQk0sYUFBWSxFQUNiO0VBakJMO0lBc0JNLHNCQUFxQjtJQUNyQixhQUFnQyxFQUNqQztFQXhCTDtJQTJCTSxhQUFxQjtJQUNyQixzQkFBcUI7SUFDckIsdUJBQXNCLEVBQ3ZCO0VBOUJMO0lBaUNNLGtCSXREcUIsRUp1RHRCO0VBbENMO0lBcUNNLGlCQUF3QixFQUN6QjtFQXRDTDtJQXlDTSxvQkkvRHNCLEVKZ0V2Qjs7QUFNTDtFQUNFLG1CQUFrQjtFQUNsQixPQUFNO0VBQ04sWUFBVztFQUNYLGFBQVk7RUFDWixhQUFZO0VBQ1osV0FBVTtFQUNWLGlCQUFnQixFQUNqQjs7QUFFRDtFQUNFLFlJaEZ5QixFSnNGMUI7RUFQRDtJQUlJLHNCQUFxQjtJQUNyQixhSXBGdUIsRUpxRnhCOztBQUdIO0VBRUUsMEJLM0ZtQztFTDRGbkMsZUt2Rm1DLEVMd0ZwQzs7QUFFRDtFQUVFLDBCS2pHbUM7RUxrR25DLGVNMUZzQixFTjJGdkI7O0FBTUQ7RUFFSSxtQkkxR3VCLEVKMkd4Qjs7QUFISDtFR1RFLGdCQUFlO0VBQUUsT0FBTztFQUN4Qiw0QkFBMkI7RUFDM0IsbUNBQWtDO0VBQ2xDLCtCQUE4QjtFQUM5Qiw2QkFBNEI7RUFBRSxPQUFPO0VIWW5DLGlCSWhId0I7RUppSHhCLG9CSWpId0IsRUprSHpCOztBQVRIO0VBWUksWU10R3NCO0VOdUd0QixpQkFBd0I7RUFDeEIsa0JBQWlCO0VBQ2pCLG1CSXhId0IsRUp5SHpCOztBQWhCSDtFQWtCSSxpQkFBeUI7RUFDekIsaUJBQWdCLEVBQ2pCOztBTy9ISDtFQUVJLFdBQVU7RUFFVixrQkFBaUIsRUFDbEI7O0FBTEg7O0VDQ0UsZURTaUM7RUNSakMsY0FBYTtFQUNiLHVCQUh1RSxFRGV0RTtFQ1ZEOztJQUNFLGVBQWMsRUFDZjtFRFBIOztJQ0NFLGVEWW1DO0lDWG5DLGNBQWE7SUFDYix1QkFIdUUsRURjcEU7SUNUSDs7TUFDRSxlQUFjLEVBQ2Y7O0FDeUJPO0VGaENWO0lBbUJNLGFBQVksRUFDYixFQUFBOztBRW1CSztFRnZDVjtJQW1CTSxhQUFZLEVBQ2IsRUFBQTs7QUVtQks7RUZ2Q1Y7SUFtQk0sYUFBWSxFQUNiLEVBQUE7O0FBS0w7RUN4QkUsZUR5QitCO0VDeEIvQixjQUFhO0VBQ2IsdUJBSHVFO0VEMkJ2RSxtQkFBa0I7RUFNbEIsbUJBQWtCLEVBQ25CO0VDN0JDO0lBQ0UsZUFBYyxFQUNmO0VDeUJPO0lGUFY7TUFLSSxrQkFBeUIsRUFJNUIsRUFBQTtFRUtTO0lGZFY7TUFLSSxrQkFBeUIsRUFJNUIsRUFBQTtFRUtTO0lGZFY7TUFLSSxrQkFBeUIsRUFJNUIsRUFBQTs7QUFFRDtFQUNFLGVBQWMsRUFDZjs7QUFFRDtFQUNFLG1CQUFrQjtFQUNsQixjRzFCd0I7RUgyQnhCLE9BQU07RUFFTixZSDdDZ0I7RUc4Q2hCLGVBQWMsRUFDZiIsImZpbGUiOiJ0by5jc3MifQ== */